@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

/* @import 'flowbite'; */

/* @layer utilities {
    body,
    html {
        --font-sans:
            'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
} */

@theme {
    --font-roboto-condensed: "Roboto Condensed", sans-serif;
    --font-inter-sans: "Inter", ui-sans-serif;
    /* --font-anton:     */
    /* 'Anton', ui-sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
    --color-primary: #437057;
    /* --color-primary: #437057; */
    --color-primary-light: #dcefd8;
    --color-secondary: #faf7f0;

    --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
    --animate-slide-down: slide-down 0.4s ease-out;

    @keyframes fade-in-scale {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-2rem);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.font-anton {
    @apply tracking-widest;
}

.container-custom {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 xl:px-15;
}

/* CUSTOM FROM CSS */
.input {
    @apply border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-900 focus:border-gray-900 block w-full p-2.5 read-only:bg-gray-100 read-only:cursor-not-allowed;
}

.select {
    @apply border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-900 focus:border-gray-900 block w-full p-2.5;
}

.wrapper {
    @apply rounded-2xl border border-gray-200 bg-white p-2 md:p-6;
}

.toggle-switch {
    @apply relative w-11 h-6 bg-gray-200 rounded-full
         peer-focus:ring-4 peer-focus:ring-blue-300
         peer-checked:bg-blue-600
         transition-all duration-300;
}

.toggle-switch::after {
    @apply content-[''] absolute top-0.5 start-[2px] bg-white border border-gray-300 rounded-full h-5 w-5 transition-all;
}

.peer:checked + .toggle-switch::after {
    transform: translateX(100%);
}

.file-input {
  @apply block w-full text-sm text-gray-600 file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100;
}
/* BiG BUTTON START */

.button-add {
    @apply flex items-center justify-center gap-2 text-white bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-500;
}

.button-delete {
    @apply flex items-center justify-center gap-2 text-white bg-red-600 hover:bg-red-700 focus:ring-2 focus:ring-offset-2 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 cursor-pointer disabled:cursor-not-allowed disabled:bg-red-400;
}

.button-back {
    @apply flex items-center justify-center gap-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-2 focus:ring-offset-2 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 cursor-pointer disabled:cursor-not-allowed disabled:bg-blue-500;
}

.button-submit {
    @apply flex items-center justify-center gap-2 text-white bg-green-600 hover:bg-green-700 focus:ring-2 focus:ring-offset-2 focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 cursor-pointer disabled:cursor-not-allowed disabled:bg-green-500;
}

/* BIG BUTTON END */

/* SMALL BUTTON START */

.button-mini-edit {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-yellow-600 border border-transparent rounded-md shadow-sm hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 cursor-pointer;
}

.button-mini-delete {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 cursor-pointer;
}

.button-mini-show {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 cursor-pointer;
}

.button-mini-add {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 cursor-pointer;
}

/* SMALL BUTTON END */
